section.newsletter
  p Keep up to date on salmon restoration in Downeast Maine!
  p.subscribe: a(href='http://eepurl.com/qY1sz') Subscribe to our Newsletter!

section.events
  h3 Upcoming Events
  ul
    li
      p.event DSRRN Science Meeting Abstracts due
      p.date 11/15/2012
    li
      p.event Quarterly SHARE Meeting
      p.date Sometime in December!
      p.location Whitneyville
  p Have an event? Send an email to <a href='mailto:jacques.tardie@gmail.com'>Jacques</a> if you have any suggestions.

section.posts
  h3 Recent Posts

  - var posts = postList
  - var page = 1
  - each post in posts
    ul
      li
        p.event: a(href=post.url) #{post.title}
        p.date #{post.date.getMonth()+1}/#{post.date.getDate()}/#{post.date.getFullYear()}
